/* Universal Settings */
html {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 5;
}

header div {
  padding-left: 24px;
}

header nav {
  padding-right: 24px;
}

nav ul li {
  display: inline;
  font-size: 1.5rem;
  font-size: 1.6vw; 
  padding-left: 16px;
  text-align: center;
  padding: 0.5rem .9rem;
}

table {
  width: 100%;
}

/* Classes */
.logo {
  display:flex;
  align-items: center;
}

.logo img {
  height:4rem;
}

.logo a {
  font-size:2rem;
}

.wrapperG {
  background-color:lightgrey;
  padding: 32px 24px;
}

.wrapperY {
  background-color:#fffef9;
  padding: 32px 24px;
}

.learn img {
  width: 100%;
}

.learn h1, .learn h3, .learn div {
  padding: 1rem 1.5rem;
}

.learn h1 {
  font-size: 3em;
  font-size: 4vw; 
  font-weight: 700;
  color: #4a4a4a;
  text-align: center;
}

.learn h3 {
  font-size: 1.5rem;
  font-size: 2.5vw; 
  font-weight: 400;
  color: #4a4a4a;
  text-align: center;
}

.button {
  width: 80%;
  margin: 0 auto;
  background-color:#4C4443;
  color:white;
  text-align: center;
  padding: 1rem 1rem;
}

.button span {
  font-size: 1rem;
}

.mobile {
  display: none;
}

/* ID(s) */
#emphasis {
  font-weight:600;
}

#litegrey {
  color:grey;
  font-weight:200;
}