@media only screen and (min-width: 760px) {
  header nav ul li:last-child {
    background-color:midnightblue;
    color:white;
    border-radius: 100px;
    padding: 0.5rem .9rem;
  }

  header nav ul li:hover {
    background-color: orange;
    transition: background-color 500ms ease-in;
    color: white;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
  }

  header nav ul li:last-child:hover{
    background-color:#337ab7;
    border-radius: 100px;
    padding: 0.5rem .9rem;
  }

  footer a:hover {
    font-weight: bold;
    text-decoration: italic;
    color: purple;
  }

  .button:hover {
    background-color: #8E7956;
    transition: background-color 300ms ease-in-out 20ms;
    cursor: pointer;
  }
  
  .button:hover #start {
    display:none;
  }

  .button:hover #go {
    display:inline;
  }

  .practice a:hover {
    color: red;
  }

  .practice td table tr:nth-child(1n + 3) {
    background-color:lightgrey;
  }

  .thesis td table tr:nth-child(2n + 1) {
    background-color:lightgrey;
  }

  .practice td table tr:hover, .thesis td table tr:hover {
    background-color:mistyrose;
  }
  
  .course:hover {
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (max-width: 760px) {  
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li img:hover{
    background-color: lightgrey;
    box-shadow: 0 0 20px grey;
  }
  
  header .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button:hover {
    background-color: #8E7956;
    transition: background-color 300ms ease-in-out 20ms;
  }
  
  .button:hover #start {
    display:none;
  }

  .button:hover #go {
    display:inline;
  }

  .logo {
    display: none;
  }

  .wrapperG {
    background-color:lightgrey;
  }

  .wrapperY {
    background-color:#fffef9;
  }

  .learn img {
    width: 100%;
  }

  .button {
    width: 50%;
    margin: 0 auto;
  }
}